<nav class="left-menu-style-1 {{visibleSidebar ? '' : 'collapse'}}">
  <div class="left-menu-item {{activeRouter === pages.homeUrl ? 'active' : ''}}" (click)="goto($event, pages.homeUrl)"
    pTooltip="Home" [tooltipStyleClass]='visibleSidebar ? "hide": ""'>
    <img class="nav-menu-icon" src="../../../../assets/icons/dashboard.png" />
    <p>Home</p>
  </div>
  <div class="left-menu-item {{activeRouter === pages.goaolUrl ? 'active' : ''}}" (click)="goto($event, pages.goaolUrl)"
    pTooltip="Goals" [tooltipStyleClass]='visibleSidebar ? "hide": ""'>
    <img class="nav-menu-icon" src="../../../../assets/icons/icon.png" />
    <p>Goals</p>
  </div>
  <div class="left-menu-item {{activeRouter === pages.taskUrl ? 'active' : ''}}" (click)="goto($event, pages.taskUrl)"
    pTooltip="Tasks" [tooltipStyleClass]='visibleSidebar ? "hide": ""'>
    <img class="nav-menu-icon" src="../../../../assets/icons/tasks.png" />
    <p>Tasks</p>
  </div>
  <i 
  class="pi {{visibleSidebar ?'pi-angle-double-left open' : 'pi-angle-double-right'}} button-collapse"
  [style]="{'fontSize': '1.2em', color: '#00000099'}" 
  (click)="toggleMenu()"
  [pTooltip]='visibleSidebar ? "Show less information" : "Show more information"'
  [tooltipStyleClass]='visibleSidebar ? "hide": ""'
  ></i>
</nav>