<nav class="left-menu-style-1" (click)="goto(pages.homeUrl)">
  <div class="left-menu-item">
    <img class="nav-menu-icon" src="../../../../assets/icons/dashboard.png" />
    <p>Dashboard</p>
  </div>
  <div class="left-menu-item" (click)="goto(pages.homeUrl)">
    <img class="nav-menu-icon" src="../../../../assets/icons/icon.png" />
    <p>Goals</p>
  </div>
  <div class="left-menu-item" (click)="goto(pages.goaolUrl)">
    <img class="nav-menu-icon" src="../../../../assets/icons/tasks.png" />
    <p>Tasks</p>
  </div>
</nav>