<div class="page-container-login">
  <section class="col-10 col-sm-8 col-md-6 col-lg-4 col-xl-4 p-2 bd-highlight section-reconnect">
    <div class="titlename">
      <h2 class="form-signin-heading form-reconnect">Vectis</h2>
    </div>

    <div class="container-fluid">
      <p class="title-reconnect" i18n="@@logout.loggedOut">Vous êtes déconnectés de l'application.</p>
      <p class="title-reconnect button-reconnect">
        <a class="text-primary" (click)="login()" i18n="@@logout.reconnect">Se reconnecter</a>
      </p>
    </div>
  </section>
</div>
