<div class="budget-tracker">
  <div class="budget-tracker-header">
    <div class="d-flex-row w-100-prcnt">
      <div class="f-grow">
        <p-calendar view="month" dateFormat="mm/yy" [(ngModel)]="pageObject.data.budgetTrackingDate"
          (ngModelChange)="budgetTrackingDateChange()"></p-calendar>
      </div>
      <div>
        <button pButton type="button" label="Init" (click)="initPeriod()"></button>
        <button class="ml-8p" pButton type="button" label="Clear" (click)="clearPeriod()"></button>
        <button *ngIf="!pageObject.data?.budgetTracker?.periodClosed" class="ml-8p" pButton type="button" label="Close"
          (click)="closePeriod()"></button>
        <button *ngIf="pageObject.data?.budgetTracker?.periodClosed" class="ml-8p" pButton type="button" label="Open"
          (click)="openPeriod()"></button>
        <p-fileUpload *ngIf="false" #fileUpload mode="basic" name="demo[]" maxFileSize="1000000" customUpload="true"
          (onSelect)="import($event, fileUpload)" [auto]="true">
        </p-fileUpload>

      </div>
    </div>
  </div>
  <div class="budget-tracker-body">
    <div class="budget-incom column">
      <div class="budget-header">
        <span class="budget-tag">100 %({{pageObject.data?.budgetTracker?.percentIncom}} DH)</span>
        Incom ({{pageObject.data?.budgetTracker?.percentIncom}} DH)
        <span class="budget-available">Available: {{pageObject.data?.budgetTracker?.availableIncom}} DH</span>
      </div>
      <app-budget-track-item *ngFor="let item of pageObject.data?.budgetTracker?.incom ?? []"
        (onSave)="saveIncom($event)" (onDelete)="deleteBudgetItem($event)" [options]="pageObject.categoryOptions"
        [item]="item" [useCategory]="false"></app-budget-track-item>
      <app-budget-track-item *ngIf="!pageObject.data?.budgetTracker?.periodClosed" (onSave)="saveIncom($event)"
        [options]="pageObject.categoryOptions" [creator]="true" [useCategory]="false">
      </app-budget-track-item>
    </div>

    <div class="budget-spent  column">
      <div class="budget-header">
        <span class="budget-tag">80 %({{pageObject.data?.budgetTracker?.percentSpent}} DH)</span>
        Spent ({{pageObject.data?.budgetTracker?.totalSpent}} DH)
      </div>
      <div class="budget-spent-body">
        <div class="budget-needs column">
          <div class="budget-header">
            <span class="budget-tag">50 %({{pageObject.data?.budgetTracker?.percentSpentNeeds}} DH)</span>
            Needs ({{pageObject.data?.budgetTracker?.totalSpentNeeds}} DH)
            <span class="budget-available">Available: {{pageObject.data?.budgetTracker?.availableSpentNeeds}} DH</span>
          </div>
          <app-budget-track-item (onSave)="saveSpentNeed($event)" (onSaveSpent)="saveSpent(item, $event)"
            (onLoadSpent)="loadSpent($event)" (onDeleteSpent)="deleteSpent(item, $event)"
            (onDelete)="deleteBudgetItem($event)" (onPay)="payBudgetItem($event)" (onRefund)="refundBudgetItem($event)"
            *ngFor="let item of pageObject.data?.budgetTracker?.spentNeeds?? []" [options]="pageObject.categoryOptions"
            [item]="item" [canPay]="true"></app-budget-track-item>
          <app-budget-track-item *ngIf="!pageObject.data?.budgetTracker?.periodClosed" (onSave)="saveSpentNeed($event)"
            (onPay)="payBudgetItem($event)" (onRefund)="refundBudgetItem($event)" [options]="pageObject.categoryOptions"
            [creator]="true">
          </app-budget-track-item>
        </div>
        <div class="budget-wants column">
          <div class="budget-header">
            <span class="budget-tag">30 %({{pageObject.data?.budgetTracker?.percentSpentWants}} DH)</span>
            Wants ({{pageObject.data?.budgetTracker?.totalSpentWants}} DH)
            <span class="budget-available">Available: {{pageObject.data?.budgetTracker?.availableSpentWants}} DH</span>
          </div>
          <app-budget-track-item (onSave)="saveSpentWant($event)" (onDelete)="deleteBudgetItem($event)"
            (onSaveSpent)="saveSpent(item, $event)" (onDeleteSpent)="deleteSpent(item, $event)" (onPay)="payBudgetItem($event)"
            (onRefund)="refundBudgetItem($event)" *ngFor="let item of pageObject.data?.budgetTracker?.spentWants?? []"
            [options]="pageObject.categoryOptions" [item]="item" [canPay]="true"></app-budget-track-item>
          <app-budget-track-item *ngIf="!pageObject.data?.budgetTracker?.periodClosed" (onSave)="saveSpentWant($event)"
            (onPay)="payBudgetItem($event)" (onRefund)="refundBudgetItem($event)" [options]="pageObject.categoryOptions"
            [creator]="true">
          </app-budget-track-item>
        </div>
      </div>
    </div>

    <div class="budget-savings  column">
      <div class="budget-header">
        <span class="budget-tag">20 %({{pageObject.data?.budgetTracker?.percentSavings}} DH)</span>
        Savings({{pageObject.data?.budgetTracker?.totalSavings}} DH)
      </div>
      <app-budget-track-item (onSave)="saveSavings($event)" (onDelete)="deleteBudgetItem($event)"
        *ngFor="let item of pageObject.data?.budgetTracker?.savings?? []" [item]="item"
        [options]="pageObject.categoryOptions" [useCategory]="false"></app-budget-track-item>
      <app-budget-track-item *ngIf="!pageObject.data?.budgetTracker?.periodClosed" (onSave)="saveSavings($event)"
        [options]="pageObject.categoryOptions" [creator]="true" [useCategory]="false">
      </app-budget-track-item>
    </div>
  </div>

</div>